package config

var Config = E18EConfig{
	Discord: DiscordConfig{
		BotToken:  "<bot token here>",
		BotUserID: "<bot application ID here>",
	},
	Db: SqliteConfig{
		DSN: "./e18e.sqlite",
	},
}
